@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; font-size: 14px;
}

a {
  text-decoration: none;
  color: #7CBBEA;
  &:hover {text-decoration: underline;}
}

.sidebar {
    position: absolute;
    width: 200px;
    height: 100%;
    background: #34495E;
    z-index: 1;
}

.user {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background: #2DCC70;
}
  
.user img {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    margin-right: 5px;
    border-radius: 100%;
}
  
.user .username {
    color: white;
    font-weight: bold;
}
  
nav ul {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
}
  
nav a {
    text-decoration: none;
    display: block;
    padding: 20px 0 20px 30px;
    color: #bbb;
    letter-spacing: 1px;
}
  
nav a:hover {
    text-decoration: none;
    background: #273849; 
    color: white;
}
  
nav a.active {
    
    text-decoration: none;
    background: #273849; 
    color: white;
} 

.main {
    position: absolute;
    right: 0;
    width: calc(100% - 220px);
    height: 100%;
    background: #ddd; 
}

header {
    position: relative;
    width: 100%;
    height: 270px;
    background: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

header .top {
    /* width: 100%; might not need this. this will expend whole page making the search bar overlap  */
    height: 90px;
    padding: 20px 30px 0 30px;
    border-bottom: 2px solid #ddd; 
    overflow: hidden;
}

.notifications {
    display: inline-block;
}
  
.notifications .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 3px solid #ddd; 
    border-radius: 5px;
}

.icon{
    padding-left: 8px;
}

.logo {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border: 3px solid #2DCC70;
    border-radius: 100%;
    text-align: center;
    line-height: 42px;
    font-size: 40px;
    font-weight: bold;
    color: #2DCC70; 
}

.search {
    float: right;
    padding: 5px;
    font-weight: bold;
    font-size: 90%;
    outline: none;
    border: none;
    color: #2DCC70; 
    text-align: right;
}
  
.search:focus {
    border-bottom: 1px solid #2d4236;
}

header .bottom {
    padding: 20px 30px 0 30px;
}

.identity {
    display: inline-block;
    min-width: 250px;
  }
  
.identity img {
    /* float: left; */
    display: inline-block;
    vertical-align: top;
    width: 80px;
    margin-right: 15px;
    border-radius: 100%;
}
  
.bottom .name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 3px;
}
  
.bottom .info {
    color: #888;
}

.logout {
    position: relative;
    float: right;
    padding: 5px 10px;
    color: tomato;
    font-weight: bold;
    border: 2px solid tomato;
    cursor: pointer;
    user-select: none;
}

.logout:hover {
    background: tomato;
    color: white;
}

.logout:active {
    top: 1px;
}

ul.nav2 {
    position: absolute;
    bottom: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
}
  
ul.nav2 li {
    display: inline-block;
   /* float: left; */
}

ul.nav2 a {
    display: inline-block;
    padding: 7px 0;
    margin-right: 30px;
    color: black;
}

ul.nav2 a:hover {
    border-bottom: 4px solid #2DCC70;
    text-decoration: none;
}

.active{ 
    text-decoration: none;
}

.active1{
    border-bottom: 4px solid #2DCC70; 
    text-decoration: none;
}

.section {
    clear: both;
    padding: 0;
    margin: 0;

}

.col {
    display: block;
    float: left;
    margin: 0 0 2% 2%;
    height: 200px;
    padding: 15px;
    background: white;
    color: #666;
    line-height: 1.5em;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
  
.col:first-child {
    margin-left: 0;
}
  
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
    zoom: 1; 
}
  
.span_3_of_3 {
    width: 95%;
}

.span_2_of_3 {
    width: 66%;
}
  
.span_1_of_3 {
    width: 31%;
}

.span_1_of_1 {
    width: 95%;
    min-height: 500px;
}

.page {
    padding: 20px;
}

footer{
    text-align: center;
    font-size: 12px;
    bottom: 0;
    width: 100%;
    position:absolute;
    margin: 0 auto;
}

/* dashboard exam calender examcalender */
.calendar1 {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.calendar1 th, .calendar1 td {
    border: 1px solid #949494;
    padding: 10px;
    text-align: center;
}

.calendar1 th {
    background-color: #f2f2f2;
}

.todayCalendar {
    background-color: #4CAF50;
    color: white;
}

/* for notify admin page */
.notifyadminLabel{
    float: left;
    width: 10%;
}

.descriptionLabel{
    float: left;
    width: 10%;
    padding-left: 2.8%;
}

.attachementForm {
    float: left;
    width: 5%;
    padding-left: 2.8%;
}

.adminSubmit {
    float: left;
    margin-left: 20%;
}

.attachmentbutton{
    margin-left: 10%;
}

/* exams setting and results setting page */

.buttonSettings {
    display: inline-flex;
    margin-left: 30%;
}

.shuffleSettings, .securitySettings, .flaggingSettings {
    display: grid;
}

/* this is for the proctoring page  */
.proctorNotification{
    display: flex;
}

.emptyProctoring{
    text-align: center;
}

.scheduleTime{
    text-decoration: none;
    transition: color 0.3s;
}

.scheduleTime:hover {
    color: #00c555;
    text-decoration: none;
}

/* this will be for results settings content */
